$p1:#003049;
$p2:#005480;
$p3:#0081C3;
$p4:#00A3F6;
$p5:#2FB9FF;
$p6:#7DD3FF;
$s1:#212529;
$s2:#343A40;
$s3:#495057;
$s4:#6C757D;
$s5:#ADB5BD;
$s6:#CED4DA;
$s7:#1C2024;
$s8:#0E1114;
$s9:#0B1015;
$s10:#060A0D;
$s11:#040709;
$s12:#000000;
$warning:#D90429;
$sucess:#A7C957;


@font-face {
  font-family:'Button';
  src: url('../../public/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family:'Button-Hover';
  src: url('../../public/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family:'Title' ;
  src: url('../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Text-L';
  src: url('../../public/fonts/QueensidesLight-ZVj3l.ttf');
}

@font-face {
  font-family: 'Text-M';
  src: url('../../public/fonts/QueensidesMedium-x30zV.ttf');
}

.main{
  height:400vh;
  position: relative;
}