$p1:#003049;
$p2:#005480;
$p3:#0081C3;
$p4:#00A3F6;
$p5:#2FB9FF;
$p6:#7DD3FF;
$s1:#212529;
$s2:#343A40;
$s3:#495057;
$s4:#6C757D;
$s5:#ADB5BD;
$s6:#CED4DA;
$s7:#1C2024;
$s8:#0E1114;
$s9:#0B1015;
$s10:#060A0D;
$s11:#040709;
$s12:#000000;
$warning:#D90429;
$sucess:#A7C957;


@font-face {
  font-family:'Button';
  src: url('../../../../public/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family:'Button-Hover';
  src: url('../../../../public/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family:'Title' ;
  src: url('../../../../public/fonts/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Text-L';
  src: url('../../../../public/fonts/QueensidesLight-ZVj3l.ttf');
}

@font-face {
  font-family: 'Text-M';
  src: url('../../../../public/fonts/QueensidesMedium-x30zV.ttf');
}

.main{
    background-color: $s6;
    color: $s12;


    h2{
        font-size: 3rem;
    }

    p{
        font-size: 1.3rem;
        font-family: 'Text-M';
        width: 50rem;
        text-align: justify;
    }

    .team{
        margin: 2.5rem 0rem;
        padding: 0rem 3.75rem;

        h4{
        margin-top: .75rem;
        font-family: 'Title';
        }

        ul{
            list-style: none;
            padding:0rem .75rem;

            li{
                margin-top: .75rem;
                font-family: 'Text-m';
                width: 37.5rem;
            }
        }
    }

    .info{
        padding: 0rem 3.75rem;
        padding-top:12.5rem;

       
        

        img{
            margin-top: 2.50rem;
            text-align: center;
            margin-left: 65.5rem;
        }
    }


    .employees{
        padding: 0rem 3.75rem;
        .teamContainer{
            display: flex;
            margin-bottom: 2.50rem;
            gap: 1.25rem;
    
            .employee{
                width: max-content;
                border-radius: .75rem;
                margin-top: 18rem;

                .image{
                    background-color: $s8;
                    border-top-left-radius: .75rem;
                    border-top-right-radius: .75rem;
                    height: 18.75rem;
                    
                    img{
                        margin-top: -18.75rem;
                        object-fit: cover;
                    }
                }
               
                
                .employeeInfos{
                 background-color:$s7;  
                 border-bottom-left-radius: .75rem;  
                 border-bottom-right-radius: .75rem;
                    h3{
                    padding: 0rem 1.25rem;
                    padding-top: .75rem;
                    font-family: 'Title';
                    color: $s6;
                    }
        
                    p{
                    padding: .4rem 1.25rem;
                    padding-bottom: .75rem;
                    font-family: 'Text-L';
                    color: $s6;
                    width: 31.25rem;
                    }
                }
            }

            .employee2{
                width: max-content;
                border-radius: .75rem;
                margin-top: 30rem;

                .image{
                    background-color: $s8;
                    border-top-left-radius: .75rem;
                    border-top-right-radius: .75rem;
                    height: 18.75rem;
                    
                    img{
                        margin-top: -24.75rem;
                        object-fit: cover;
                    }
                }
               
                
                .employeeInfos{
                 background-color:$s7;  
                 border-bottom-left-radius: .75rem;  
                 border-bottom-right-radius: .75rem;
                    h3{
                    padding: 0rem 1.25rem;
                    padding-top: .75rem;
                    font-family: 'Title';
                    color: $s6;
                    }
        
                    p{
                    padding: .4rem 1.25rem;
                    padding-bottom: .75rem;
                    font-family: 'Text-L';
                    color: $s6;
                    width: 31.25rem;
                    }
                }
            }

            .employee3{
                width: max-content;
                border-radius: .75rem;
                margin-top: 18.75rem;

                .image{
                    background-color: $s8;
                    border-top-left-radius: .75rem;
                    border-top-right-radius: .75rem;
                    height: 18.75rem;
                    
                    img{
                        margin-top: -18.75rem;
                        object-fit: cover;
                    }
                }
               
                
                .employeeInfos{
                 background-color:$s7;  
                 border-bottom-left-radius: .75rem;  
                 border-bottom-right-radius: .75rem;
                    h3{
                    padding: 0rem 1.25rem;
                    padding-top: .75rem;
                    font-family: 'Title';
                    color: $s6;
                    }
        
                    p{
                    padding: .4rem 1.25rem;
                    padding-bottom: .75rem;
                    font-family: 'Text-L';
                    color: $s6;
                    width: 31.25rem;
                    }
                }
            }
        }
    }
}